Palo_Alto_Networks_-_Automatic_SLR_(Community).yml
id: 68642c5d-dd02-4f23-8e5d-30232112dcca
version: 36
vcShouldKeepItemLegacyProdMachine: false
name: Palo Alto Networks - Automatic SLR (Community)
description: Initial default playbook to run the Palo Alto Networks Automatic SLR
  (Community) integration
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 411be4a6-a93e-450b-82ec-d32c1df584e8
    type: start
    task:
      id: 411be4a6-a93e-450b-82ec-d32c1df584e8
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 72480f2b-bc47-4758-83b1-7ea120483da2
    type: regular
    task:
      id: 72480f2b-bc47-4758-83b1-7ea120483da2
      version: -1
      name: Initiate stats_dump.tar.gz generation
      description: Initiates the stats_dump.tar.gz generation job on the target firewall
      script: Palo Alto Networks Automatic SLR (Community)|||autoslr-ngfw-generate
      type: regular
      iscommand: true
      brand: Palo Alto Networks Automatic SLR (Community)
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: f8e5e16f-42af-471a-815c-848b508c68f7
    type: regular
    task:
      id: f8e5e16f-42af-471a-815c-848b508c68f7
      version: -1
      name: Check generation job status
      description: Checks the status of the stats_dump.tar.gz generation job, returns
        true when completed
      script: Palo Alto Networks Automatic SLR (Community)|||autoslr-ngfw-check
      type: regular
      iscommand: true
      brand: Palo Alto Networks Automatic SLR (Community)
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      job_id:
        simple: ${AutoSLR.generate.job_id}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: cafbc3d7-7384-4118-8f31-6dc4536051f6
    type: regular
    task:
      id: cafbc3d7-7384-4118-8f31-6dc4536051f6
      version: -1
      name: Download stats_dump.tar.gz
      description: Downloads the stats_dump.tar.gz from the target firewall
      script: Palo Alto Networks Automatic SLR (Community)|||autoslr-ngfw-download
      type: regular
      iscommand: true
      brand: Palo Alto Networks Automatic SLR (Community)
    nexttasks:
      '#none#':
      - "7"
      - "10"
    scriptarguments:
      job_id:
        simple: ${AutoSLR.generate.job_id}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
    note: false
    evidencedata:
      description:
        simple: Stats_dump.tar.gz Download
      customfields: {}
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: c85d7ddc-06bb-4e25-86a3-af85fb010229
    type: regular
    task:
      id: c85d7ddc-06bb-4e25-86a3-af85fb010229
      version: -1
      name: Upload to PANW
      description: Uploads the stats_dump.tar.gz to Palo Alto Networks
      script: Palo Alto Networks Automatic SLR (Community)|||autoslr-csp-upload
      type: regular
      iscommand: true
      brand: Palo Alto Networks Automatic SLR (Community)
    scriptarguments:
      input_file:
        simple: ${AutoSLR.generate.EntryID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 1bd8ca8d-4c27-472b-8f3a-1aa1e6864e92
    type: regular
    task:
      id: 1bd8ca8d-4c27-472b-8f3a-1aa1e6864e92
      version: -1
      name: Cleanup Context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
      - "1"
    scriptarguments:
      all:
        simple: "yes"
      index:
        simple: ${AutoSLR}, ${InfoFile}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 3ee08fcd-c0fe-4379-845a-b4bc6ba274a5
    type: regular
    task:
      id: 3ee08fcd-c0fe-4379-845a-b4bc6ba274a5
      version: -1
      name: InfoFile.EntryID to AutoSLR Context
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      append: {}
      key:
        simple: AutoSLR.generate.EntryID
      stringify: {}
      value:
        simple: ${InfoFile.EntryID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: b43fc033-3c7b-4bc3-8b6e-fa64ceac1a43
    type: regular
    task:
      id: b43fc033-3c7b-4bc3-8b6e-fa64ceac1a43
      version: -1
      name: Get System Info
      script: Palo Alto Networks Automatic SLR (Community)|||autoslr-ngfw-system-info
      type: regular
      iscommand: true
      brand: Palo Alto Networks Automatic SLR (Community)
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 370
        }
      }
    note: true
    evidencedata:
      description:
        simple: System Info Data
      customfields: {}
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: 939c8da3-44df-432f-85ed-cf3b3a0b9d18
    type: regular
    task:
      id: 939c8da3-44df-432f-85ed-cf3b3a0b9d18
      version: -1
      name: InfoFile.Name to AutoSLR Context
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      append: {}
      key:
        simple: AutoSLR.generate.file_name
      stringify: {}
      value:
        simple: ${InfoFile.Name}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1115,
        "width": 1025,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
